VITE_SMARTSHELL_GRAPHQL_URL=https://billing.smartshell.gg/api/graphql
VITE_SMARTSHELL_COMPANY_ID=your_company_id

SMARTSHELL_LOGIN=your_login
SMARTSHELL_PASSWORD=your_password
SMARTSHELL_COMPANY_ID=your_company_id
